<!DOCTYPE html>
<html>
<head>
	<title>登录界面</title>
	<link rel="stylesheet" href="__CSS__/login.css" />
	<meta charset="utf-8">
</head>
<body>
	<div id="img">
	</div>
	<div id="login">
		<p class="label">账号: <input type="text" class="text" id="user" name="user" /></p>
		<p class="label">密码: <input type="password" class="text" id="pwd" name="pwd"/></p>
		<p>
			<input type="button" value="登录" id="login_bt" class="bt">
			<!-- <input type="button" value="注册" id="regist_bt" class="bt"> -->
		</p>
		<p>
			
			<label id="warning"></label>
		</p>
	</div>
</body>
<script type="text/javascript" src="__JS__/jquery-2.1.0.js"></script>
<script type="text/javascript" src="__JS__/login.js"></script>
<script type="text/javascript" src="__JS__/vue.js"></script>
</html>