</body>
	<script type="text/javascript" src="__JS__/jquery-2.1.0.js"></script>
	<script type="text/javascript"src="__JS__/vue.js"></script>

	<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
	<script type="text/javascript" src="__JS__/addlinkman.js"></script>
<!-- 	<script type="text/javascript" src="__JS__/bootstrap-switch.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
	</html>
